.livo-btn {
  width: 100%;
  padding: .8rem;
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all .2s ease;

  &--primary {
    background: var(--livo-primary);
    color: white;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
